<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Muzzamil Test Automation Suite">
    <test name="SWFSAutomationTest" preserve-order="true">
        <classes>
            <class name="runner.runner"/>
        </classes>
    </test>
</suite>